
*.dll
*.zip
*.mdb
/Shared.Core/bin/Debug
/Shared.Core/obj
/Shared.Core/Properties
/SharedUI.Core/bin/Debug/netstandard2.0
/SharedUI.Core/obj
/SharedUI.Update/SharedUI.Update/bin/Debug/netstandard2.0
/SharedUI.Update/SharedUI.Update/obj
/SharedUI.Update/SharedUI.Update.Android/bin/Debug
/SharedUI.Update/SharedUI.Update.Android/obj
/SharedUI.Update.Android.Core2/obj
/SharedUI.Update.Core/bin/Debug/netstandard2.0
/SharedUI.Update.Core/obj
/SharedUI.Update.Core.Android/bin/Debug/netstandard2.0
/SharedUI.Update.Core.Android/obj
/UISharedComponents/.vs/UISharedComponents
/.vs
/Shared.Core/Resources/Resource.designer.cs
